.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Post-Container {
  display: flex;
  justify-content: space-around;
}

.Post {
  background-color: #357ec7;
  color: white;
  padding: 20px;
  margin: 10px;
  border: 2px solid #003366;
  width: 15%;
}

.Post-Details {
  width: 30%;
  margin-top: 5%;
}

.Form-Container {
  border: 2px solid #003366;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 10px;
}

.Label-Container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.Label {
  margin-right: 15px;
  font-weight: bold;
}
